
<!-- jQuery読み込み -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<h1>えんむすび</h1>
これはインスタ映えしそう！！　今すぐ行け！！！！
Goを押すと経路が見れます。

<%= form_with(url: map_path, local: true) do |f| %>
<div class="container">
    <% @images.each do |image| %>
        <div class="item">
            <%= image_tag("/#{image.image_path}",:class => "thumbnail")%>
            <%= check_box_tag "go_image_name[#{ image.place_name }]", image.place_name %>
        </div><br>
    <% end %>
</div>

<button type="submit" id="btn1" class="button" disabled>----Go----</button>

<% end %>

<script>
$(document).on('turbolinks:load', function() {
  // チェックボックスのクリックを無効化します。
  $('.item .disabled_checkbox').click(function() {
    return false;
  });

  // 画像がクリックされた時の処理です。
  $('img.thumbnail').click(function() {
    $(this).toggleClass("checked");//クラスにcheckedを追加
    var nextCheckbox = $(this).next();//クリックした画像についているチェックボックスを変数に入れた
    
    if ($(nextCheckbox).prop('checked')) {//その画像にチェックが入っていたら
 
      // チェックを外す
      $(nextCheckbox).prop('checked', false);
 
    // もしチェックが外れていたら
    } else {
 
      // チェックを入れる
      $(nextCheckbox).prop('checked', true);
    }
    console.log(nextCheckbox);
        if ($("img.thumbnail.checked").length > 0) { チェックした画像が1枚以上あれば
            // ボタン有効
            $("#btn1").prop("disabled", false);
        } else {
          // 画像をチェックしてないならばボタン無効
          $("#btn1").prop("disabled", true);
        }
  });
});

</script>


