
<!-- jQuery読み込み -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<h1>えんむすび</h1>
これはインスタ映えしそう！！　今すぐ行け！！！！
Goを押すと経路が見れます。

<%= form_with(url: go_path, local: true) do |f| %>
<div class="container">
    <% @images.each do |image| %>
        <div class="item">
            <%= image_tag("/#{image.image_path}",:class => "thumbnail")%>
            <div class="disabled_checkbox">
            <%= check_box_tag "go_image_name[#{ image.place_name }]", image.place_name%>
            </div>
        </div><br>
    <% end %>
</div>

<button type="submit" id="btn1">----Go----</button>

<% end %>

<script>
$(function() {
  // チェックボックスのクリックを無効化します。
  $('.item .disabled_checkbox').click(function() {
    return false;
  });

  // 画像がクリックされた時の処理です。
  $('img.thumbnail').click(function() {
    $(this).toggleClass("checked");

        if ($("img.thumbnail.checked").length > 0) { //初回は押させるようになってしまっている　直すべきとこ
            // ボタン有効
            $("#btn1").prop("disabled", false);
        } else {
          // ボタン無効
          $("#btn1").prop("disabled", true);
        }
  });
});

</script>


