<h1>えんむすび</h1>

これはインスタ映えしそう！！　今すぐ行け！！！！
Goを押すと経路が見れます。

<%= form_with(url: map_path, local: true) do |f| %>
<div class="container">
    <% @images.each do |image| %>
        <div class="item">
            <%= link_to image_tag("/#{image.image_path}",:class => "thumbnail")%>
            <div class="disabled_checkbox">
            <%= check_box_tag "go_image_name[#{ image.place_name }]", image.place_name %>
            </div>
        </div><br>
    <% end %>
</div>
<button type="submit" id="btn1">----Go----</button>
<% end %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
$(function(){
  // 初期状態のボタンは無効
  $("#btn1").prop("disabled", true);
    // チェックボックスの状態が変わったら（クリックされたら）
    $("input[type='checkbox']").on('click', function () {
        // id名はバラバラだったのでワイルドカードで指定した
        if ($("[id^=go_image_name]:checked").length > 0) { 
            // ボタン有効
            $("#btn1").prop("disabled", false);
        } else {
          // ボタン無効
          $("#btn1").prop("disabled", true);
        }
    });
});
</script>